html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.controls {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.crop-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.button-area {
  text-align: center;
  margin-top: 20px;
}

button {
  margin-left: 10px;
  margin-right: 10px;
  background-color: black;
  color: white;
  border: 1px solid yellow;
  font-size: 20px;
}